body {
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
}

.form-control {
    font-size: 30px;
    padding: 2%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 5% 0;
    width: 100%;

}

.form-label {
    font-size: 30px;
    font-weight: bold;
}

.form textarea {
    height: 10em;
}

.checkbox {
    margin-left: 200px;
}

.form-check {
    font-size: 30px;

}


button[type="submit"] {
    margin: 0 50px 100px 0;
    font-size: 30px;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
}

.button-op {
    justify-content: center;
    background-color: aliceblue;
    width: 100%;
}

.btn:hover {
    background-color: lightskyblue !important;
    color: black !important;
}


#content {
    display: flex;
    width: 100%;
    background-color: lightcyan;
    justify-content: start;
    flex-direction: row;
}

.card {
    padding: 15px;
    width: 30%;
    height: 300PX;
    margin: 0 10px;
    justify-content: space-between;
}

.icon-checkbox {
    width: 2em;
}