body {
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 5%;
}

.navbar-brand img {
    width: 3em;
}

.conten-nav {
    gap: 50px;
}

.container {
    width: 40%;
}

.form-control {
    font-size: 30px;
    padding: 2%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 10%;

}

.form-label {
    font-size: 35px;
    font-weight: bold;

}

.form textarea {
    height: 200px;
}


button[type="submit"] {
    margin: 0 50px 100px 0;
    font-size: 30px;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
}

.btn:hover {
    background-color: lightskyblue !important;
    color: black !important;
}